# ECG Rhythm Classification
## 3. Create Training Dataset
### Sebastian D. Goodfellow, Ph.D.

# Setup Noteboook

In [1]:
# Import 3rd party libraries
import os
import sys

# Import local Libraries
sys.path.insert(0, r'C:\Users\sebastian goodfellow\Documents\code\deep_ecg')
from deepecg.training.data.dataset_memory import WaveformDB, TrainingDB
from deepecg.training.utils.plotting.waveforms import plot_waveforms_interact
from deepecg.config.config import DATA_DIR

# Configure Notebook
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
%load_ext autoreload
%autoreload 2

# 1. Import Waveform Database

In [2]:
# Sample frequency
fs = 300

# Initialize
waveform_db = WaveformDB(
    path_waveforms=os.path.join(DATA_DIR, 'waveforms'),
    path_labels=os.path.join(DATA_DIR, 'labels'),
    fs=fs
)

# Build waveform database
waveform_db.load_database()

# 2. Create Training Dataset

In [4]:
# Get dataset
dataset = TrainingDB(waveforms=waveform_db.waveforms, duration=60, path=DATA_DIR, 
                     fs=fs, file_name='training_60s.pickle', classes=['N', 'A', 'O'])

In [5]:
# Plot dataset
dataset.plot_interact()

interactive(children=(IntSlider(value=4124, description='index', max=8248), Output()), _dom_classes=('widget-i…

# 3. Test training and validation dimensions

In [6]:
# Dataset
dataset.data.head()

,0,1,2,3,4,5,6,7,8,9,...,17990,17991,17992,17993,17994,17995,17996,17997,17998,17999
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-0.006775,-0.030692,-0.051738,-0.067514,-0.076684,-0.079476,-0.077628,-0.073467,-0.068444,-0.062087,...,0.166009,0.175881,0.183386,0.185563,0.179394,0.162695,0.134796,0.096751,0.051108,0.001425
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,-0.010330,-0.052866,-0.091777,-0.123690,-0.145953,-0.157290,-0.158299,-0.151408,-0.140111,-0.127763,...,-0.416735,-0.382827,-0.341839,-0.293190,-0.239614,-0.185490,-0.134284,-0.087147,-0.043265,-0.001030

In [7]:
# Labels
dataset.labels.head()

  file_name label_str label_int
0    A00001         N         0
1    A00002         N         0
2    A00003         N         0
3    A00004         A         1
4    A00005         A         1